<div class="skill">
    <div *ngIf="skill.level" class="radial-progress" [attr.progress]="skill.level" [attr.color]="skill.color"></div>
    <div class="icon">
        <div *ngIf="skill.level" class="level">
            <span>{{ skill.level }}%</span>
        </div>
        <img [src]="skill.image" [alt]="skill.title" />
    </div>
    <div class="label">
        {{ skill.title }}
    </div>
</div>