.skill {
    padding: 0.5em;
    position: relative;
    z-index: 0;
    
    flex: 0 0 auto;

    .radial-progress {
        position: absolute;

        $offset: 10px;

        left: $offset;
        top: $offset;
        width: calc(100% - (#{$offset} * 2));
        height: calc(100% - (#{$offset} * 2));
        z-index: -1;
    }
    
    .icon {
        width: 64px;
        height: 64px;

        background: white;
        border: 3px solid white;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

        overflow: hidden;

        position: relative;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .level {
            background: rgba(0, 0, 0, 0.8);

            opacity: 0;
    
            position: absolute;
            transform: scaleY(0);
            top: -100%;
            left: -0.5em;

            width: calc(100% + 1em);
            height: 100%;

            transition: 200ms all ease-in-out;

            font-family: 'Patrick Hand', sans-serif;
            font-size: 0.7em;

            & > span {
                position: absolute;

                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .label {
        position: absolute;
        opacity: 0;

        transform: translateX(-50%) scale(0.5);
        bottom: -8px;
        left: 50%;

        font-size: 0.7em;
        font-family: 'Patrick Hand', sans-serif;
        font-variant: small-caps;

        padding: 0.1em 0.4em;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 0.25em;

        transition: 300ms transform cubic-bezier(0.5, -1, 0.5, 2), 200ms opacity ease-in-out;
    }

    &:hover {
        .icon {
            .level {
                opacity: 1;
                top: 0;
                transform: scaleY(1);
            }
        }
        .label {
            opacity: 1;
            transform: translateX(-50%) scale(1);
        }
    }
}