@import '../mixin';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Patrick+Hand&family=Damion&display=swap');

html,
body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  width: 100%;
  height: 100%;

  background-color: #222;
  color: #eee;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

$background: url('/assets/images/background.webp');

.spacer {
    flex: 1 1 auto;
}

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}

.home-wrapper {
    background: $background;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    padding: 0;

    max-width: 100vw;
    max-height: 100vh;

    min-height: 100%;

    width: 100%;
    height: 100%;

    position: relative;

    display: flex;

    flex-direction: row;

    @include media(mobile, tablet, laptop) {
        max-height: inherit;
        height: auto;
        flex-direction: column;
    }

    @include media(mobile) {
        min-width: 330px;
        width: 100%;
    }
    
    & > :not(.profile):not(router-outlet) {
        width: 100%;
    }

    .profile {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: inset -2px 0 4px rgba(0, 0, 0, 0.4);
        flex: 0 0 calc((100% / 3) - 4em);

        max-width: 600px;

        overflow-y: scroll;
        overflow-x: hidden;

        padding: 2em;

        @include media(mobile) {
            padding: 1em;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        @include media(mobile, tablet, laptop) {
            max-width: inherit;
            flex: 0 0 auto;

            box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4);

            flex-direction: row;
            align-items: flex-start;
        }

        @include media(mobile) {
            flex-direction: column;
            align-items: center;
        }

        .avatar {
            flex: 0 0 auto;

            display: flex;
            flex-direction: column;

            .avatar-container {
                flex: 0 0 auto;

                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.4);
                
                border: 0.25em solid white;
                border-radius: 1em;
                overflow: hidden;

                width: 256px;
                min-height: 256px;

                position: relative;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .certification-container {
                    position: absolute;

                    left: 0;
                    bottom: 0;
                    width: calc(100% - 1em);
                    padding: 0.5em;

                    display: flex;
                    flex-direction: row;

                    .certification {
                        flex: 0 0 auto;

                        max-width: 64px;

                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .details {
                padding-top: 0.5em;

                font-family: 'Quicksand', sans-serif;
                font-size: 2em;

                display: flex;
                flex-direction: column;
                align-items: center;

                & > * {
                    flex: 0 0 auto;
                }

                .name, .role {
                    text-align: center;
                }

                .role {
                    text-transform: uppercase;
                    font-size: 0.5em;
                }

                .social {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .social-container {
                        flex: 0 0 auto;
                        display: flex;

                        padding: 0.25em;

                        position: relative;

                        & > a {
                            color: inherit;
                            text-decoration: none;
    
                            transition: 300ms transform cubic-bezier(0.5, -1, 0.5, 2);
    
                            &:hover {
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }
        }

        .about-me {
            min-width: 256px;
            width: 100%;
            padding-top: 0.5em;

            font-family: 'Quicksand', sans-serif;
            font-size: 2em;

            @include media(tablet, laptop) {
                padding-top: 0;
                padding-left: 0.5em;
            }

            .skill-container {
                width: 100%;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}

.modal {
    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    z-index: 100;
}