<div class="home-wrapper">

  <div class="profile">
    <div class="avatar">
      <div class="avatar-container">
        <img id="profile-picture" src="/assets/images/profile.webp" [alt]="profile.name" />
        <div class="certification-container">
          <div class="certification">
            <img id="certification-ac-jpa" src="/assets/images/certifications/ac-jpa.webp" alt="ACP-600 Project Administration in Jira Server" />
          </div>
          <div class="spacer"></div>
          <div class="certification">
            <img id="certification-acp-jsw" src="/assets/images/certifications/acp-jsw.webp" alt="ACP-300 Agile Development with Jira Software" />
          </div>
        </div>
      </div>
      <div class="details">
        <h4 class="name">{{ profile.name }}</h4>
        <h6 class="role">{{ profile.role }}</h6>
        <div class="social">
          <div class="social-container" *ngFor="let social of profile.social">
            <a id="social-{{ social.id }}" [href]="social.url" [attr.aria-label]="social.title">
              <fa-icon [icon]="social.icon"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="about-me">
      <div class="skill-container">
        <app-skill *ngFor="let skill of profile.skills" [skill]='skill'>
        </app-skill>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>