<div class="project-container">
    <div class="header">
        <a id="button-back" class="back-link" routerLink="/">
            <fa-icon [icon]="faBack"></fa-icon>
        </a>
        <a *ngIf="projectPage.url" [id]="projectPage.id" [href]="projectPage.url" target="_blank" class="title">
            <span>{{ projectPage.title }}</span>
            <fa-icon [icon]="faExternalLink"></fa-icon>
        </a>
        <span *ngIf="!projectPage.url" class="title">{{ projectPage.title }}</span>
    </div>
    <div class="content">
        <p *ngFor="let description of projectPage.description">{{ description }}</p>
        <p>
            Technologies used for this project include:
        </p>
        <div *ngIf="projectPage.technologies" class="technologies">
            <div class="technology" *ngFor="let technology of projectPage.technologies">
                <a id="technology-{{ technology.skill.id }}" [href]="technology.url" target="_blank">
                    <app-skill [skill]='technology.skill'>
                    </app-skill>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="(projectPage.images || []).length > 0" class="gallery">
        <a *ngFor="let image of projectPage.images; let i = index" id="{{ projectPage.id }}-image-{{ i }}" class="image" (click)="openImage(image)" [attr.data-index]="i">
            <img [src]="image.thumbUrl" [alt]="image.title"/>
        </a>
    </div>
</div>

<div class="image-viewer" [class.visible]="imageOpen" (click)="closeImage()">
    <img *ngIf="openedImage" class="image-container" [src]="openedImage.url" [alt]="openedImage.title" />
</div>