@import '../../../mixin';

.project-container {
    flex: 1 1 auto;

    overflow-y: scroll;
    overflow-x: hidden;

    padding: 2em;
    @include media(mobile) {
        padding: 1em;
    }

    height: calc(100% - 4em);

    display: flex;
    flex-direction: column;

    font-family: 'Quicksand', sans-serif;
    font-weight: 600;

    & > * {
        flex: 0 0 auto;

        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    .header {
        display: flex;
        flex-direction: row;

        font-size: 2em;

        .back-link {
            color: inherit;
            text-decoration: none;
        
            position: relative;
        
            transition: 300ms transform cubic-bezier(0.5, -1, 0.5, 2);
            
            &:hover {
                transform: scale(1.4);
            }
        }

        .title {
            margin-left: 0.5em;
            padding: 0 0.5em;

            color: inherit;
            text-decoration: none;

            display: flex;
            flex-direction: row;

            align-items: center;

            > fa-icon {
                font-size: 0.5em;
                margin-left: 1em;
            }
        }
    }

    .content {
        padding: 1em;

        background: rgba(0, 0, 0, 0.4);
        border-radius: 0.5em;

        & > *:not(:first-child) {
            margin-top: 1em;
        }

        .technologies {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            @include media(phone, tablet, desktop) {
                justify-content: center;
            }

            .technology {
                flex: 0 0 auto;

                a {
                    color: inherit;
                    text-decoration: none;

                    font-size: 2em;
                    font-weight: 500;
                }
            }
        }
    }

    .gallery {
        padding: 1em;

        background: rgba(0, 0, 0, 0.4);
        border-radius: 0.5em;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include media(phone, tablet, desktop) {
            justify-content: center;
        }

        .image {
            flex: 0 0 auto;
            margin: 0.5em;

            cursor: pointer;

            width: 128px;
            height: 128px;

            border: 3px solid white;
            border-radius: 0.5em;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

            overflow: hidden;

            transition: 300ms transform cubic-bezier(0.5, -1, 0.5, 2), 200ms box-shadow ease-in-out;
            
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.image-viewer {
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.6);

    opacity: 0;
    pointer-events: none;

    transition: 200ms all ease-in-out;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }

    .image-container {
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        max-width: calc(100% - 4em);
        max-height: calc(100% - 4em);

        @include media(mobile) {
            max-width: calc(100% - 2em);
            max-height: calc(100% - 2em);
        }

        border-radius: 1em;
        border: 5px solid white;
    }
}