.project-container {
    flex: 0 0 auto;
    padding: 1em;
    
    .project-link {
        .project {
            background: white;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #222;

            border: 2px solid white;
            border-radius: 0.5em;

            position: relative;

            width: 300px;
            height: 150px;
            overflow: hidden;

            transition: 300ms transform cubic-bezier(0.5, -1, 0.5, 2), 300ms box-shadow ease-in-out;

            > .description {
                background: rgba(0, 0, 0, 0.8);
                color: white;

                font-family: 'Quicksand', sans-serif;
                font-size: 2em;
                font-weight: 600;

                position: absolute;

                top: -100%;
                width: 100%;
                height: 100%;

                transition: 200ms top ease-in-out;

                display: flex;
                flex-direction: column;
                justify-content: center;

                & > * {
                    flex: 0 0 auto;
                    text-align: center;
                }

                .subtitle {
                    font-size: 0.5em;
                }
            }
        }

        &:hover .project {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.3);

            transform: scale(1.1);
            filter: blur(0);

            > .description {
                top: 0;
            }
        }
    }
}