<div class="project-container">
    <a id="project-{{ project.id }}" routerLink="/project/{{ project.url }}" class="project-link">
        <div class="project" [style]="{ 'background-image': 'url(' + project.image + ')'}">
            <div class="description">
                <span class="title">{{ project.title }}</span>
                <span class="subtitle">{{ project.description }}</span>
            </div>
        </div>
    </a>
</div>