$breakpoints: (
    mobile: 780px,
    tablet: 1120px,
    laptop: 1200px
);

@mixin media($keys...) {
    @each $key in $keys {
        @media (max-width: map-get($breakpoints, $key)) {
            @content;
        }
    }
}