.projects {
    flex: 1 1 auto;

    overflow-y: scroll;
    overflow-x: hidden;

    padding: 2em;

    height: calc(100% - 4em);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}